/************************* Модификаторы *************************/

.main_background_theme{
    background: #ebebeb url("../images/main-background-theme.jpg") no-repeat 0 0;
    background-size: cover;
}
.side_padding_85{
    padding-left:85px;
    padding-right:85px;
}
.vertical_padding_13{
    padding-top: 13px;
    padding-bottom: 13px;
}
.flex_row{
    display: flex;
    display: -ms-flexbox;
    flex-direction: row;
    -ms-flex-direction: row;
    justify-content:space-between;
    -ms-flex-pack: justify;
}
.flex_start{
    justify-content:flex-start;
    -ms-flex-pack: start;
}
.float_r{
    float: right;
}
.float_l{
    float: left;
}
.clear{
    clear: both;
}
.clearfix_:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix_overflow{
    overflow: hidden;
}

.header-middle-nav_width_140{
    width: 140px;
}
.header-middle-nav_width_175{
    width: 175px;
}
.header-middle-nav_width_126 {
    width: 126px;
}
.header-middle-nav_width_187{
    width: 187px;
}
.header-middle-nav_width_100{
    width: 100px;
}
.content_wrapper_width_1130,
.content_wrapper_width_1220,
.content_wrapper_width_1300 {
    margin: 0 auto;
}
.content_wrapper_width_1130 {
    width: 1130px;
}
.content_wrapper_width_1220 {
    width: 1220px;
}
.content_wrapper_width_1300 {
    width: 1300px;
}
.font_regular{
    font-family: 'ProximaNovaRegular';
}
.font_semibold{
    font-family: 'ProximaNovaSemibold';
}
.font_extrabold{
    font-family: 'ProximaNovaExtrabold';
}
.font_cond_regular{
    font-family: 'ProximaNovaCondRegular';
}
.font_cond_bold{
    font-family: 'ProximaNovaCondBold';
}
.font_cond_semibold{
    font-family: 'ProximaNovaCondSemibold';
}
.header-bottom-search-params__button_theme_bright_grey{
    background: #ebebeb;
}
.header-bottom-search-params__button_theme_dark_grey{
    background: #d7d7d7;
}
.header-bottom-search-params__button_theme_selected{
    background: #fdad1d;
}

.header-bottom-search-params-button-wrap_theme_selected::before,
.header-bottom-search-params-button-wrap_theme_selected::after,
.header-bottom-search-params-button-wrap_theme_dark_grey::before,
.header-bottom-search-params-button-wrap_theme_dark_grey::after,
.header-bottom-search-params-button-wrap_theme_bright_grey::before,
.header-bottom-search-params-button-wrap_theme_bright_grey::after{
    content: '';
    float: left;
    width: 0;
    height: 0;
    border-style: solid;
}
.header-bottom-search-params-button-wrap_theme_selected::before,
.header-bottom-search-params-button-wrap_theme_bright_grey::before,
.header-bottom-search-params-button-wrap_theme_dark_grey::before{
    border-width: 0 8px 18px 0;
}
.header-bottom-search-params-button-wrap_theme_selected::after,
.header-bottom-search-params-button-wrap_theme_bright_grey::after,
.header-bottom-search-params-button-wrap_theme_dark_grey::after{
    border-width: 18px 0 0 8px;
}
.header-bottom-search-params-button-wrap_theme_bright_grey::before{
    border-color: transparent #ebebeb transparent transparent;
}
.header-bottom-search-params-button-wrap_theme_bright_grey::after{
    border-color: transparent transparent transparent #ebebeb;
}

.header-bottom-search-params-button-wrap_theme_dark_grey::before{
    border-color: transparent #d7d7d7 transparent transparent;
}
.header-bottom-search-params-button-wrap_theme_dark_grey::after{
    border-color: transparent transparent transparent #d7d7d7;
}

.header-bottom-search-params-button-wrap_theme_selected::before{
    border-color: transparent #fdad1d transparent transparent;
}
.header-bottom-search-params-button-wrap_theme_selected::after{
    border-color: transparent transparent transparent #fdad1d;
}
.price_currency{
    font-family: 'ProximaNovaSemibold';
    color: #636363;
    font-size: 13px;
}
.header-bottom-basket-total-price_margin_left{
    margin-left: 15px;
}
.header-bottom-search_margin_t{
    margin-top: 9px;
}
.orange_text{
    color: #fdad1d;
}
.margin_auto{
    margin: 0 auto;
}
.catalog-el_theme_yellow:not(.catalog-el-title-wrap){
    background: #fdad1d url('../images/zap-gidrblock.png') no-repeat 100% 20%;
}
.catalog-el_theme_yellow.catalog-el-title-wrap:hover{
    background-color: rgba(253,173,29, 0.8);
}
.catalog-el_theme_dark:not(.catalog-el-title-wrap){
    background: rgba(59,59,59,1);
    background-image: url('../images/zap-gidrotransform.png'),linear-gradient(to top, rgba(59,59,59,1) 0%, rgba(36,36,36,1) 100%);
    background-repeat: no-repeat;
    background-position: 50% 20%;
}
.catalog-el_theme_dark.catalog-el-title-wrap:hover{
    background: rgba(59,59,59,0.8);
    background: linear-gradient(to top, rgba(59,59,59,0.8) 0%, rgba(36,36,36,0.8) 100%);
}
.catalog-el_theme_white:not(.catalog-el-title-wrap){
    background: #ffffff url('../images/gidr-tools.png') no-repeat 80% 35%;
    background-size: 38.5%;
}
.catalog-el_theme_white.catalog-el-title-wrap:hover{
    background: rgba(255,255,255, 0.8);
}
.catalog-el_theme_blue:not(.catalog-el-title-wrap){
    background: #00548d url('../images/zap-transmis.png') no-repeat 92% 100%;
}
.catalog-el_theme_blue.catalog-el-title-wrap:hover{
    background: rgba(0,84,141, 0.8);
}
.catalog-el__title_dark_text{
    color: #333333;
}

.white_background_theme{
    background-color: #ffffff;
}
.news-slider-el-image-wrap_margin_b{
    margin-bottom: 10px;
}
.news-slider-el_margin_b{
    margin-bottom: 14px;
}
.h1_title,
.h2_title,
.title{
    font-family: 'ProximaNovaCondSemibold';
    font-size: 30px;
    color: #000000;
}
.title{
    font-size: 24px;
}

.latest-title-and-slider-buttons_margin_b{
    margin-bottom: 23px;
}
.latest-slider-buttons_margin{
    margin: 20px 0 23px 0;
}
input,
.reset_useragent_input_style,
.reset_useragent_select_style,
.reset_useragent_button_style{
    outline: 0;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.reset_useragent_button_style{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.cart-button-wrap_margin_vertical{
    margin: 16px auto;
}
.cart-button_orange_theme .cart__icon{
    background-color: #ff9d00;
}
.cart-button_orange_theme .cart__button{
    box-sizing: border-box;
    border-left: 1px solid #ffc947;
    background-color: #ffbb19;
}
.cart-button_rounded_angles .cart__icon{
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.cart-button_rounded_angles .cart__button{
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.total-price-with-discount_position_top_right{
    position: absolute;
    z-index: 10;
    top: 17px;
    right: 21px;
}
.total-price__summ_discount_text_color{
    color: #e82d21;
}
.about-title_margin_b{
    margin-bottom: 20px;
}
.about-advantages_margin_t{
    margin-top: 25px;
}
.about-banner__text_color{
    color: #ffffff;
}
.about-advantage-el_show{
    opacity: 1;
}
.about-advantage-el_transition_2{
    -webkit-transition: all 2.5s ease;
    transition: all 2.5s ease;
}
.cta-button_orange_theme {
    background: #fdad1d;
    border-radius: 3px;
}
.cta-button_yellow_theme{
    background: #ffbb19;
    border-radius: 3px;
}
.cta-banner-button_margin_t{
    margin-top: 28px;
}
.footer-top-subscribe_margin_t{
    margin-top: 55px;
}
.footer-top-links_sitemap_theme{
    background: url('../images/sitemap-icon.png') no-repeat left center;
    padding-left: 20px;
    font-size: 16px;
}

.light_gray_theme{
    background: #f8f8f8;
}
.light_gray_second_theme {
    background: #f4f4f4;
}
.dark_blue_theme{
    background: #00548d;
}

.main-content_padding_one_column {
    padding-top: 50px;
    padding-bottom: 45px;
}
.main-content_padding_two_column{
    padding-top: 24px;
    padding-bottom: 45px;
}
.main-content_padding_first_column{
    padding-top: 25px;
}
.workers_margin_t{
    margin-top: 25px;
}
.main-content-wrap_width_main_column{
    width: 865px;
}
.content-pagination_margin_t {
    margin-top: 15px;
}
.news-pagination-list-el_selected{
    box-shadow: 0 2px 1px 1px rgba(226,226,226,0.75);
}
.news-pagination-list-el_selected .content-pagination-list-el__link {
    color: #00538b;
}
.padding_bottom_sm{
     padding-bottom: 20px;
 }
.padding_bottom_0{
    padding-bottom: 0;
}
.margin_bottom_0{
    margin-bottom: 0;
}
.main-content-aside-block_first_margin_b{
    margin-bottom: 45px;
}
.main-content-aside-block_margin_b{
    margin-bottom: 35px;
}
.custom-scroll-block_theme_with_border_b{
    border-bottom: 1px solid #c0c0c0;
}

.shadow_theme,
.shadow_theme_bottom,
.shadow_theme_top{
    position:relative;
}
.shadow_theme::before,
.shadow_theme::after,
.shadow_theme_bottom::after,
.shadow_theme_top::before{
    content:"";
    position:absolute;
    z-index:10;
    height: 17px;
    width: 100%;
    left:0;
    background-size: cover;
}
.shadow_theme::before,
.shadow_theme_top::before{
    top: 0;
    background: url("../images/shadow-elipse-top.png") no-repeat center 0;

}
.shadow_theme::after,
.shadow_theme_bottom::after{
     bottom: 0;
     background: url("../images/shadow-elipse-bottom.png") no-repeat center 0;
}

.contacts_h1_margin_b{
    margin-bottom: 45px;
}
.contacts-el_email_width{
    width: 370px;
}
.contacts-el-content_black_font_theme{
    color: #000000;
}
.gray_font_theme{
    font-family: ProximaNovaCondRegular;
    color: #373737;
}
.contacts-el_email_width .contacts-el-content{
    width: 289px;
}
.contacts_width_padding>*{
    padding-left: 45px;
    padding-right: 45px;
}
.padding_top_25{
    padding-top: 25px;
}
.contacts-title.h2_title{
    font-size: 24px;
}
.button_settings{
    font-size: 18px;
    line-height: 1;
}
.cta-button_inline{
    display: inline-block;
}
.inline_{
    display: inline-block;
}
.registration_h1_margin_b{
    margin-bottom: 22px;
}
.necessarily_field{
    color: #e82d21;
}
.text_center{
    text-align: center;
}
.contacts-form-row_marg-t{
    margin-bottom: 0;
    margin-top: 30px;
}
.gidr_h1_margin_b{
    margin-bottom: 30px;
}
.dark_theme{
    background: #3b3b3b;
}
.yellow_theme{
    background: #ffbb19;
}
.white_theme{
    background: #ffffff;
}
.blue_theme{
    background: #00548d;
}
.black_text_theme{
    color: #000000;
}
.white_text_theme{
    color: #ffffff;
}
.product-categories_margin_v{
    margin: 17px 0 24px 0;
}
.products-table-el-link_long{
    width: 157px;
}
.products-table-el-link_medium{
    width: 125px;
}
.text_uppercase{
    text-transform: uppercase;
}
.products-table-el-link_short{
    width: 109px;
}
.total-price-wrap_full_width,
.full_width{
    width: 100%;
}
.count-form_align_center{
    width: auto;
    display: inline-block;
}
.cart-button-wrap_margin_vertical_table{
    margin: 10px auto;
}
.total-price-wrap_margin_b_table{
    margin-bottom: 5px;
}
.products-table_margin_b{
    margin-bottom: 30px;
}
.tech-resources-categories_padding_b {
    padding-bottom: 24px;
}
.transparent_theme{
    background: transparent;
}
.aside-categories-el_marker_theme{
    padding-left: 15px;
    background: url("../images/list-type.jpg") no-repeat 1px center;
}
.padding_bottom_5{
    padding-bottom: 5px;
}
.main-content-aside-block_last_margin_b{
    margin-bottom: 20px;
}
.schemes-transmission_margin_t{
    margin-top: 25px;
}
.padding_bottom_55{
    padding-bottom: 55px;
}
.main-content-aside-block_margin_b_sm{
    margin-bottom: 18px;
}
.products-table-params_marg_b{
    margin-top: 25px;
}
.main-content_transmission_choosed_padding{
    padding: 15px 0 38px 0;
}
.rel{
    position: relative;
}
.trans-description-table_margin_t{
    margin-top: 57px;
}
.order_main_content_indent_v{
    padding-top: 50px;
    padding-bottom: 25px;
}
.order_title_margin_t{
    margin-top: 6px;
    margin-bottom: 0;
}
.order-category_active{
    background: #ffffff;
}
.order-category_active .order-category__link{
    text-decoration: none;
}
.border_radius_0{
    border-radius: 0;
}
.order-table_margin_t{
    margin-top: 10px;
}
.order-table_margin_t_lg{
    margin-top: 20px;
}
.order-el_title{
    font-size: 16px;
    height: auto;
}
.padding_0{
    padding: 0;
}
.order-vendor-wrap_indent_v{
    margin: 7px 0;
}
.cta-button_gray_theme{
    background: #a8a8a8;
    border-radius: 3px;
}
.cta-button_gray_theme .cta__button{
    color: #ffffff;
}
.cta-button_order_table_margin_t{
    margin-top: 12px;
}
.margin_t_0{
    margin-top: 0;
}
.user-info_indent_h{
    margin-left: 22px;
}
.margin_t_user_cabinet{
    margin-top: 10px;
}
.aside-user-block-links_active{
    background: #fdad1d;
}

.latest-wrap_order_indent_v{
    padding: 30px 0 45px 0;
}
.empty-basket-message_indent_v{
    margin: 22px 0 38px 0;
}
.clean-basket-wrap_margin_t{
    margin-top: 3px;
}
.cta-button_clean_basket{
    background-image: url("../images/clean-basket-icon.png");
    background-repeat: no-repeat;
    background-position: 22px center;
    /*margin-right: 8px;*/
}
.cta-button_clean_basket .cta__button{
    padding: 11px 22px 11px 41px;
}
.padding_bottom_40{
    padding-bottom: 40px;
}

.notification_yellow_theme{
    color: #fdad1d;
    border: 1px solid #fdad1d;
    background-color: #f5e9d4;
}
.notification_success{
    background-image:url("../images/notification-success.png");
    background-position: 12px center;
}
.notification_fail{
    background-image:url("../images/notification-fail.png");
    background-position: 11px center;

}
.profile-form_indent{
    margin-top: 25px;
}
.red_text{
    color: #e82d21;
}
.symptoms_yellow_theme{
    color: #000000;
    border: 2px solid #fdad1d;
    background-color: #f5e9d4;
    border-radius: 5px;
}
.image_centered{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.image_centered img{
    max-height: 100%;
    display: inline-block;
}
.w_auto{
    width: auto;
}

.cta-button_red_theme{
    background: #e82d21;
    color: #ffffff;
    border-radius: 3px;
}
.cta-button_red_theme .cta__button{
    color: #ffffff;
}

.box-type_col_1{
    width: 175px;
}
.box-type_col_2{
    width: 275px;
}
.box-type_col_3{
    width: 375px;
}
.box-type_col_4{
    width: 500px;
}
.box-type_col_5{
    width: 575px;
}
.box-type_col_6{
    width: 675px;
}
.box-type_col_7{
    width: 800px;
}
.box-type_col_8{
    width: 875px;
}
.box-type_col_9{
    width: 975px;
}
.box-type_col_10{
    width: 1130px;
}

.boxes_border{
    border-bottom: 1px solid #d5d5d5;
}

.indent_top-25{
    margin-top: 25px;
}