/************************* Модификаторы *************************/

.flex_row{
    display: flex;
    display: -ms-flexbox;
    flex-direction: row;
    -ms-flex-direction: row;
    justify-content:space-between;
    -ms-flex-pack: justify;
    align-items: center;
    -ms-flex-align: center;
}
.flex_start{
    justify-content:flex-start;
    -ms-flex-pack: start;
}
.align_start{
    align-items: flex-start;
    -ms-flex-align: start;
}
.flex_wrap{
    flex-wrap: wrap;
}

.fl_r{
    float: right;
}
.fl_l{
    float: left;
}
.clear{
    clear: both;
}
.clearfix_:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix_overflow{
    overflow: hidden;
}

.basic_width,
.lg_width{
    margin: 0 auto;
}
.basic_width{
    width: 1130px;
}
.lg_width{
    width: 1300px;
}


.centered{
    margin: 0 auto;
}
.text_center{
    text-align: center;
}
.th_sm-t{
    text-align: left;
    font-size: 0.75rem;
    text-transform: uppercase;
}
.sm_t-row{
    font-size: 0.625rem;
    text-transform: uppercase;
}

.h1_title,
.h2_title,
.title{
    display: block;
    text-transform: uppercase;
    font-family: 'OpenSans-Bold';
    font-size: 1.5rem;
    color: #1b1b1b;
}
.title{

}

.inline{
    display: inline-block;
    vertical-align: middle;
}

.full_w{
    width: 100%;
}
.w_half{
    width: 50%;
}
.w_auto{
    width: auto;
}

.rel{
    position: relative;
}

.gray_theme{
    background-color: #f2f2f2;
}
.white_theme{
    background-color: #ffffff;
}
.dark_theme{
    background-color: #1b1b1b;
}

.link_centers{
    background: url("../images/centers-marker.png") no-repeat left center;
    padding: 4px 0 4px 22px;
}
.login_link{
    background: url("../images/sign-in.png") no-repeat left center;
    padding: 4px 0 4px 20px;
}
.shadow_theme_inset{
    -webkit-box-shadow: inset 0 -20px 13px -16px rgba(0,0,0,.05);
    -moz-box-shadow:    inset 0 -20px 13px -16px rgba(0,0,0,.05);
    box-shadow:         inset 0 -20px 13px -16px rgba(0,0,0,.05);
}

.bold{
    font-family: OpenSans-Bold;
    color: #1b1b1b;
}

.services__banner_tires{
    /*background: #3798cb url("../images/tire.png") no-repeat 92.5% 20%;*/
    background: #3798cb url("../images/tire.png") no-repeat 92.5% 50%;

}
.services__banner_wheels{
    /*background: #3eabe6 url("../images/wheel.png") no-repeat 92.5% 17%;*/
    background: #3eabe6 url("../images/wheel.png") no-repeat 92.5% 35%;
}
.services__banner_sewing{
    /*background: #45beff url("../images/sewing.png") no-repeat 92.5% 20%;*/
    background: #45beff url("../images/sewing.png") no-repeat 92.5% 25%;
}


.selection_main_indent{
    margin-bottom: 50px;
}

.selection-tabs__type_selected{
    position: relative;
}

.selection-tabs__type_selected::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    top: -10px;
    left: 0;

    background: rgba(48,79,94,1);
    background: -moz-linear-gradient(left, rgba(48,79,94,1) 0%, rgba(55,151,203,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(48,79,94,1)), color-stop(100%, rgba(55,151,203,1)));
    background: -webkit-linear-gradient(left, rgba(48,79,94,1) 0%, rgba(55,151,203,1) 100%);
    background: -o-linear-gradient(left, rgba(48,79,94,1) 0%, rgba(55,151,203,1) 100%);
    background: -ms-linear-gradient(left, rgba(48,79,94,1) 0%, rgba(55,151,203,1) 100%);
    background: linear-gradient(to right, rgba(48,79,94,1) 0%, rgba(55,151,203,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#304f5e', endColorstr='#3797cb', GradientType=1 );
}

.form__l_md{
    width: 50%;
}
.selection__form-wrap-auto .form__l_md{
    width: 45%;
}
.form__l_xl{
    width: 100%;
}
.form__l_sm{
    width: 29.4117%;
}

.season_mark_summer::before,
.season_mark_winter::before{
    content: '';
    position: absolute;
    width: 31px;
    height: 31px;
    top: 8px;
    right: 8px;
    z-index: 4;
}
.season_mark_summer::before{
    background: url("../images/product-summer.png") no-repeat center;
}
.season_mark_winter::before{
    background: url("../images/product-winter.png") no-repeat center;
}

.btn_red_theme,
.btn_red_theme .btn{
    background-color: #e92727;
    color: #ffffff;
}
.btn_red_theme:hover .btn{
    background-color: #cc2323;
}
.btn_orange_theme,
.btn_orange_theme .btn{
    background-color: #ff8400;
    color: #ffffff;
}
.btn_orange_theme:hover .btn{
    background-color: #ff8400;
}

.btn_white_theme,
.btn_white_theme .btn{
    background-color: #ffffff;
    color: #1b1b1b;
}
.btn_white_theme{
    border: 1px solid #e1e1e1;
}
.btn_white_theme .btn{
    padding: 11px 9px 12px 9px;

}
.btn_white_theme:hover{
    /*border-color: transparent;*/
}
.btn_white_theme:hover .btn{
    border-radius: 0;
    border-color: transparent;
    background-color: #e1e1e1;
}

.product__mark_popular{
    background: #e92727 url("../images/popular-mark.png") no-repeat 60% center;
}
.product__mark_popular::after{
    border-color: transparent transparent transparent #e92727;
}
.product__mark_new{
    background-color: #ff8400;
}
.product__mark_new::after{
    border-color: transparent transparent transparent #ff8400;
}
.product__mark_new::before{
    content: 'NEW';
    height: 26px;
    width: 30px;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 26px;
    text-align: right;
    box-sizing: border-box;
    padding-right: 2px;
}

.product__mark_best_price{
    background: #ffc301 url("../images/best-price-mark.png") no-repeat 65% center;
}
.product__mark_best_price::after{
    border-color: transparent transparent transparent #ffc301;
}

.main_p_switcher_indent{
    margin-left: 27px;
}

body .white_text{
    color: #ffffff;
}
.hide{
    display: none;
}
.show{
    display: block;
}

.dotted_bottom{
    padding-bottom: 22px;
    border-bottom: 1px dotted #a9a9a9;
}
.footer__social_title{
    margin-bottom: 8px;
}

.user-panel_blue-btn{
    color: #3798cb;

}
.user-panel_blue-btn .user-panel__btn-text{
    border-bottom: 1px solid #d7eaf5;
}

.user-panel_gray-btn{
    color: #636363;
}
.user-panel__btn_cta{
    background: url("../images/user-panel-phone.png") no-repeat left center;
    margin: 0.219rem 0;
}
.user-panel__btn_cta .user-panel__btn-text{
    border-bottom: 1px dotted #3798cb;
}
.user-panel__btn_favorite{
     background: url("../images/user-panel-favorites.png") no-repeat left center;
}
.user-panel__btn_compare{
    background: url("../images/user-panel-compare.png") no-repeat left center;
}

.user-panel__btn_cart{
    background: url("../images/user-panel-cart.png") no-repeat left center;
}

.user-panel__btn_total{
    padding-left: 0;
}

.catalog__el_for-list-type{

}
.catalog__el_for-list-type{
    width: 31.5476%;
    margin: 0;
    min-height: 0;
    border: 0;
}
.catalog__el_for-list-type .product__title{
    color: #636363;
}
.catalog__el_for-list-type:hover{
    box-shadow: none;
}
.pagination_catalog-indent{
    margin-top: 35px;
}

.catalog__el_grid{
    width: 31.5476%;
    /*width: 30.6358%;*/
    /*margin-left: 1.78%;*/
    /*margin-left: 2.7745%;*/
    /*margin-left: 2.7%;*/
    /*margin-right: 2.68%;*/
    margin-left: 15px;
    margin-right: 0;
}
.catalog__el_grid:nth-child(3n){
    /*margin-right: 0;*/
}
.catalog__el_grid.catalog__el:nth-child(4n+4){
    /*margin-right: 2.68%;*/
}
.cart-top__btn_active,
.blue_theme{
    background-color: #3798cb;
    color: #ffffff;
}

.cart__item_discount-theme{
    color: #e92727;
    font-family: OpenSans-Bold;
    font-size: 0.875rem;
}

.count__form_transparent .count__form-btn,
.count__form_transparent .count__form-val{
    background-color: transparent;
    color: #1b1b1b;
}
.count__form_transparent .count__form-val{
    font-size: 0.875rem;
}
.count__form_transparent .count__form-el{
    height: 30px;
}
.count__form_transparent{
    float: left;
    border: 1px solid #e1e1e1;
}

.theme_yel-bord{
    border: 2px solid #ffc301;
}
.dark_text{
    color: #1b1b1b;
}
.order__status_success{
    background: url('../images/status-success.png') no-repeat left center;
    color: #4a8d30;
}
.order__status_failed{
    background: url('../images/status-fail.png') no-repeat left center;
    color: #e92727;
}
.order__status_accepted{
    background: url('../images/status-accepted.png') no-repeat left center;
    color: #4a8d30;
}
.order__status_dispatch{
    background: url('../images/status-dispatch.png') no-repeat left center;
    color: #3798cb;
}

.d_b{
    display: block;
}
.category__season_summer{
    background: url("../images/season-summer.png") no-repeat left center;
}
.category__season_winter{
    background: url("../images/season-winter.png") no-repeat left center;
}

.catalog_main-page{

}

.blue_row{
    color: #ffffff;
}
.blue_row th:nth-child(3n+1),
.blue_row td:nth-child(3n+1){
    background-color: #3fafeb;
}
.blue_row th:nth-child(3n+2),
.blue_row td:nth-child(3n+2){
    background-color: #3da7e0;
}
.blue_row th:nth-child(3n),
.blue_row td:nth-child(3n){
    background-color: #3a9fd6;
}

.b_0{
    margin-bottom: 0;
}
.blue_text{
    color: #3798cb;
}
.field_indent-b{
    margin-bottom: 9px;
}

.text_theme-red{
    color: #e92727;
}
.text_theme-in-stock{
    color: #498c2f;
}

.product-tabs_theme{
    background-color: #2e3639;
}
.product-tabs-titles_theme{
    background-color: #41484b;
    position: relative;
}
.product-tabs-titles_theme::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 38px;
    background: url("../images/pr-tab-titles-shadow.png") no-repeat center top;
    margin: auto;
    bottom: -38px;
    left: 0;
    right: 0;
}

.product__sizes-types_sm-text{
    font-size: 0.75rem;
    font-family: OpenSans-Regular;
    text-transform: none;
}

.sm_text{
    font-size: 0.75rem;
}
.md_text{
    font-size: 0.875rem;
}
.aside_indent_sm{
    margin-bottom: 15px;
}
.common_text{
    font-family: OpenSans-Regular;
    font-size: 0.875rem;
    color: #636363;
    line-height: 1.4;
}
.uppercase{
    text-transform: uppercase;
}

.default_link{
    display: inline-block;
    color: #3798cb;
    border-bottom: 1px solid #3798cb;
    line-height: 1;
}
.gr_cell{
    background-color: #f7f7f7;
}