<div class="bread-crumbs clearfix_">
    <ul class="bread-crumbs__list">
        <li class="bread-crumbs__item">
            <a href="" class="bread-crumbs__link mobile-none">Главная</a>
            <a href="" class="bread-crumbs__link desktop-none">
                <img src = "assets/images/bread-crumbs-home.png">
            </a>
        </li>
        <li class="bread-crumbs__item">
            <a href="" class="bread-crumbs__link">Шины</a>
        </li>
        <li class="bread-crumbs__item">
            <a href="" class="bread-crumbs__link">Nokian</a>
        </li>
        <li class="bread-crumbs__item bread-crumbs__item-active">
            <span class="bread-crumbs__link">Карточка товара</span>
        </li>
    </ul>
</div>