<div class="seo-text mobile-theme_gray block">
    <section class="basic_width">
        <h1 class="title">
            о компании
        </h1>
        <p class="seo__text">
            Компания «ЛОЯЛ» основана в 1996 году. Мы занимается оптовой и розничной продажей шин и дисков для автомобилей, а также пошивом чехлов по индивидуальным заказам.  Благодаря «прямым» дилерским договорам с производителями нам удается обеспечить выгодное ценовое предложение для наших покупателей, и постоянное наличие товара на складе. Мы всегда стараемся соответствовать желаниям самого требовательного покупателя. На данный момент мы имеем три розничных магазина по Минску и интернет магазин с бесплатной доставкой. В каждом из магазинов  вас ожидает профессиональное обслуживание, широкий ассортимент шин и дисков, теплое душевное отношение.
        </p>
        <p class="seo__text">
            Гибкая ценовая политика и программа лояльности, огромный опыт продаж и четко налаженные оперативные поставки являются залогом успеха и гарантией процветания партнеров компании.
        </p>
    </section>
</div>