<div class="bread-crumbs font_regular">
    <div class="bread-crumbs-wrap content_wrapper_width_1130">
        <ul class="bread-crumbs-list clearfix_">
            <li class="bread-crumbs-list-el">
                <a href="/" class="bread-crumbs-list-el__link">
                    <img src="assets/images/bread-crumbs-home-icon.png" class="bread-crumbs-list-el__link-image" alt="" title="">
                </a>
            </li>
            <li class="bread-crumbs-list-el bread-crumbs-list-el-separator">/</li>
            <li class="bread-crumbs-list-el">
                <a href="/" class="bread-crumbs-list-el__link">
                    О компании
                </a>
            </li>
        </ul>
    </div>
</div>