    </div>
    <footer class="footer">
    <div class="footer-top dark_blue_theme">
        <div class="footer-top-wrap content_wrapper_width_1130 flex_row font_cond_semibold">
            <div class="footer-top-logo font_cond_regular">
                    <span class="footer-top-logo__text">
                        Официальный дистрибьютор продукции sonnax в россии
                    </span>
                <img src="assets/images/logo-footer.png" class="footer-top-logo__image" alt="" title="">
            </div>
            <div class="footer-top-lang-and-subscribe">
                <form class="footer-top-lang-form" method="post" action="">
                    <label class="footer-top-lang-form__select-label">
                        <select class="reset_useragent_select_style footer-top-lang-form__select font_cond_regular">
                            <option disabled selected>Выбрать язык</option>
                            <option>Ru</option>
                            <option>En</option>
                        </select>
                    </label>
                </form>
                <div class="footer-top-subscribe_margin_t">
                    <a href="#" class="footer-top-subscribe font_cond_regular">
                        Подписаться на рассылку
                    </a>

                    <form action="" method="post" class="registration-form font_cond_regular">
                        <label class="form-input-label contacts-form-row">
                            <span class="form-input-wrap clearfix_">
                                <input type="text" class="form-input subscribe-input" placeholder="E-mail">
                                <input type="submit" value="Ок" class="subscribe-submit">
                            </span>
                        </label>
                    </form>
                </div>
            </div>
            <div class="footer-top-links clearfix_ font_cond_regular">
                <ul class="footer-top-links-column float_l">
                    <li class="footer-top-links-column__el">
                        <a href="#" class="footer-top-links-column__el-link">
                            <span class="footer-top-links-column__el-link-color">О компании</span>
                        </a>
                    </li>
                    <li class="footer-top-links-column__el">
                        <a href="#" class="footer-top-links-column__el-link ">
                            <span class="footer-top-links-column__el-link-color">Новости</span>
                        </a>
                    </li>
                </ul>
                <ul class="footer-top-links-left-column float_r">
                    <li class="footer-top-links-column__el">
                        <a href="#" class="footer-top-links-column__el-link">
                            <span class="footer-top-links-column__el-link-color">Технические ресурсы</span>
                        </a>
                    </li>
                    <li class="footer-top-links-column__el">
                        <a href="#" class="footer-top-links-column__el-link ">
                            <span class="footer-top-links-column__el-link-color">Контакты</span>
                        </a>
                    </li>
                    <li class="footer-top-links-column__el">
                        <a href="#" class="footer-top-links-column__el-link footer-top-links_sitemap_theme">
                            <span class="footer-top-links-column__el-link-color">Карта сайта</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-top-contacts font_cond_semibold">
                    <span class="footer-top-contacts__phones">
                        <span class="font_cond_regular">8 (499)</span> 641-01-51<br>
                        <span class="font_cond_regular">8 (926)</span> 066-13-85
                    </span>
                <a href="#" class="footer-top-contacts__cta font_cond_regular">
                    Заказать звонок
                </a>
                    <span class="footer-top-contacts__adress font_cond_regular">
                        1-я Магистральная д.29 <br>стр 1, Москва, 123007.
                    </span>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-bottom-wrap content_wrapper_width_1130 flex_row font_cond_regular">
            <div class="footer-bottom__copyright">
                <span class="footer-bottom__copyright_icon">&#169; </span>2016 Все права защищены.
            </div>
            <a href="mailto:info@sonnax.ru" class="footer-bottom__email">
                info@sonnax.ru
            </a>
            <a href="http://webcompany.by" target="_blank" class="footer-bottom__site-developer">
                Разработка сайта
            </a>
        </div>
    </div>
</footer>
<div class="cover-wrapper login-popup">
        <div class="popup-wrap">
            <div class="popup-title-wrap popup-titles clearfix_">
                <div class="popup-title float_l">Войти</div>
                <a href="" class="popup-title popup-link float_r">Регистрация</a>
            </div>
            <form action="" method="post" class="login-form">
                <div class="login-form-title">
                    Введите Ваш логин и пароль
                </div>
                <label class="form-input-label contacts-form-row">
                    <span class="form-input-title">Логин</span>
                        <span class="form-input-wrap">
                            <input type="text" class="form-input" placeholder="Введите логин">
                        </span>
                </label>
                <label class="form-input-label">
                    <span class="form-input-title">Пароль</span>
                        <span class="form-input-wrap">
                            <input type="password" class="form-input" placeholder="Введите пароль">
                        </span>
                </label>

                <div class="remember-me contacts-form-row clearfix_">
                    <label class="custom-checkbox">
                        <input type="checkbox" name="" value="">
                        <span class="checkbox__replacer">Запомнить меня</span>
                    </label>
                </div>
                <div class="text_center">
                    <div class="cta-button cta-button_orange_theme cta-button_inline font_cond_semibold">
                        <button type="submit" class="cta__button button_settings">Войти</button>
                    </div>
                </div>
            </form>
            <div class="popup-close"></div>
        </div>
    </div>
<div class="cover-wrapper login-offer">
        <div class="popup-wrap">
            <div class="popup-title-wrap clearfix_">
                <div class="popup-title float_l">Оформить</div>
            </div>
            <form action="" method="post" class="login-form">
                <label class="form-input-label contacts-form-row">
                    <span class="form-input-title">Имя</span>
                    <span class="form-input-wrap">
                        <input type="text" class="form-input" placeholder="Введите имя">
                    </span>
                </label>
                <label class="form-input-label contacts-form-row">
                    <span class="form-input-title">Телефон</span>
                    <span class="form-input-wrap">
                        <input type="text" class="form-input phone-mask">
                    </span>
                </label>
                <div class="text_center">
                    <div class="cta-button cta-button_orange_theme cta-button_inline font_cond_semibold">
                        <button type="submit" class="cta__button button_settings">Отправить</button>
                    </div>
                </div>
            </form>
            <div class="popup-close"></div>
        </div>
    </div>
</div>
<script src="assets/js/libs.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>
