<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Sonnax</title>
    <!--<meta name="viewport" content="width=1024">-->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/modifiers.css">

    <!--[if IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
<div class="wrapper">
    <div class="wrapper-inner main_background_theme">
        <header class="header">
            <div class="header-top font_regular clearfix_ dark_blue_theme">
                <div class="header-top-content-wrapper content_wrapper_width_1130 clearfix_">
                    <nav class="header-top-nav float_l">
                        <ul class="header-top-nav__list clearfix_">
                            <li class="header-top-nav__item"><a href="#" title="" class="header-top-nav__link">О компании</a></li>
                            <li class="header-top-nav__item"><a href="#" title="" class="header-top-nav__link">Доставка и гарантии</a></li>
                            <li class="header-top-nav__item"><a href="#" title="" class="header-top-nav__link">Новости</a></li>
                            <li class="header-top-nav__item"><a href="#" title="" class="header-top-nav__link">Контакты</a></li>
                        </ul>
                    </nav>
                    <div class="header-top-links float_r clearfix_">
                        <div class="header-top-links__icons flex_row">
                            <div class="header-top__icons">
                                <div class="header-top-links__elem">
                                    <a href="#" class="header-top-links__link" title="">
                                        <img src="assets/images/header-top-icon-1.png" class="header-top-links__img" alt="" title="">
                                    </a>
                                </div>
                                <div class="header-top-links__elem">
                                    <a href="#" class="header-top-links__link header-top-links__padding" title="">
                                        <img src="assets/images/roadshow-icon.png" class="header-top-links__img" alt="" title="">
                                    </a>
                                </div>
                            </div>
                            <div class="header-top__social">
                                <div class="header-top-links__elem ">
                                    <a href="#" class="header-top-links__link" title="">
                                        <img src="assets/images/vk.svg" class="header-top-links__img" alt="" title="">
                                    </a>
                                </div>
                                <div class="header-top-links__elem">
                                    <a href="#" class="header-top-links__link" title="">
                                        <img src="assets/images/facebook.svg" class="header-top-links__img" alt="" title="">
                                    </a>
                                </div>
                            </div>

                            <div class="header-top__cabinet">
                                <div class="header-top-links__elem">
                                    <a href="#" class="header-top-links__link header-top-links__text header-top-links__signin signin-popup" title="">Вход</a>
                                </div>
                                <div class="header-top-links__elem">
                                    <a href="#" class="header-top-links__link header-top-links__text header-top-links__registration" title="">Регистрация</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-middle clearfix_">
                <div class="header-middle-content-wrapper content_wrapper_width_1130 clearfix_">
                    <nav class="header-middle-nav font_cond_bold float_l">
                        <ul class="header-middle-nav__list clearfix_">
                            <li class="header-middle-nav__item header-middle-nav_width_140"><a href="#" title="" class="header-middle-nav__link ">Запчасти для гидравлического блока управления</a></li>
                            <li class="header-middle-nav__item header-middle-nav_width_175"><a href="#" title="" class="header-middle-nav__link ">Запчасти для гидротрансформаторов</a></li>
                            <li class="header-middle-nav__item header-middle-nav_width_126"><a href="#" title="" class="header-middle-nav__link ">Инструменты <br>и оборудование</a></li>
                            <li class="header-middle-nav__item header-middle-nav_width_187"><a href="#" title="" class="header-middle-nav__link ">Запчасти трансмиссий <br>и сопутствующие товары</a></li>
                            <li class="header-middle-nav__item header-middle-nav_width_100"><a href="#" title="" class="header-middle-nav__link ">Техническая информация</a></li>
                        </ul>
                    </nav>
                    <div class="header-middle-info float_r">
                        <div class="header-middle-info-email-wrap font_cond_semibold">
                            <a href="mailto:admin@admin.by" class="header-middle-info__email" title="">info@sonnax.ru</a>
                        </div>
                        <div class="header-middle-info__phones font_cond_semibold">
                            <div class="header-middle-info__phone">8 (499) 641-01-51</div>
                            <div class="header-middle-info__phone">8 (926) 066-13-85</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom light_gray_theme vertical_padding_13">
                <div class="header-bottom-content-wrapper content_wrapper_width_1130 flex_row clearfix_overflow">
                    <div class="header-bottom-logo">
                        <a href="/" class="header-bottom-logo__link"><img src="assets/images/logo.png" alt="" title="" class="header-bottom-logo__image"></a>
                    </div>
                    <div class="header-bottom-search header-bottom-search_margin_t">
                        <form action="" method="post" class="search-form font_cond_regular">
                            <div class="form-input-wrap border_radius_0 clearfix_">
                                <input type="search" class="search-form__search form-input float_l" placeholder="Введите текст...">
                                <input type="submit" value="" class="search-form__submit float_r">
                            </div>
                        </form>
                        <form class="header-bottom-search-params clearfix_ font_semibold">
                            <div class="header-bottom-search-params-button-wrap header-bottom-search-params-button-wrap_theme_selected">
                                <button type="button" class="header-bottom-search-params__button header-bottom-search-params__button_theme_selected">Поиск по типу АКПП</button>
                            </div>
                            <div class="header-bottom-search-params-button-wrap header-bottom-search-params-button-wrap_theme_dark_grey">
                                <button type="button" class="header-bottom-search-params__button header-bottom-search-params__button_theme_dark_grey">Поиск по артикулу</button>
                            </div>
                            <div class="header-bottom-search-params-button-wrap header-bottom-search-params-button-wrap_theme_bright_grey">
                                <button type="button" class="header-bottom-search-params__button header-bottom-search-params__button_theme_bright_grey">Поиск по наименованию</button>
                            </div>
                        </form>
                    </div>
                    <div class="header-bottom-basket clearfix_">
                        <div class="header-bottom-basket-count font_cond_bold">
                            <a href="#" class="header-bottom-basket-count__container float_r " title="">100</a>
                        </div>
                        <div class="header-bottom-basket-total-price font_cond_semibold header-bottom-basket-total-price_margin_left">
                            1 142 00 <span class="price_currency">руб.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>