<div class="seo-text">
    <section class="seo-text-wrap content_wrapper_width_1130 font_regular">
        <h2 class="seo-text__title h2_title">
            Сео текст
        </h2>
        <p class="seo-text__text">
            Sonnax является лидирующем поставщиком компонентов для ремонта автоматических трансмиссий. Sonnax экспортирует запчасти в более чем 70 стран и поддерживает развивающуюся сеть по всему миру. Результатом ориентированности Sonnax на успешные партнерские отношения является международная сеть поставщиков, ремонтных мастерских и служб техничеtской поддержки. Важным достижением является комиссия Sonnax TASC Force. Эта комиссия является объединением экспертов по трансмиссиям и мастеров. Они собираются вместе, чтобы обменяться полезными знаниями в области эксплуатации трансмиссий.
            В главном офисе Sonnax в Южном Вермонте находятся отделения проектирования, исследований, испытаний и распространения продукции.Дополнительные исследовательские центры находятся в Калифорнии, Джорджии, Иллинойсе и Висконсине.
        </p>
    </section>
</div>