    </div>
    <footer class="footer gradient-inverse_theme">
        <div class="footer-top container flex_row">
            <div class="logo">
                <a href=""><img src="assets/images/logo.png" alt="" /></a>
            </div>
            <ul class="footer__nav clearfix_">
                <li class="footer__nav-item"><a href="" class="footer__nav-link">Правила сервиса</a></li>
                <li class="footer__nav-item"><a href="" class="footer__nav-link">Как оставить отзыв?</a></li>
                <li class="footer__nav-item"><a href="" class="footer__nav-link">Обратная связь</a></li>
                <li class="footer__nav-item"><a href="" class="footer__nav-link">Как откликнуться?</a></li>
            </ul>
        </div>
        <div class="footer__bottom">
            <div class="footer__bottom-inner container flex_row">
                <div class="copyright">
                    &#169; <span class="bold">leflance.work</span> | 2016 - 2017
                </div>
                <div class="webcompany">
                    <a target="_blank" href="http://webcompany.by/">
                        <span>Разработка сайта</span>
                        <img src="assets/images/webcompany.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </footer>
</div>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/libs/jquery-2.2.3.min.js"></script>
    <script src="assets/js/libs/uikit/uikit.js"></script>
    <!--<script src="assets/js/react-app/bundle.js"></script>-->
    <script src="assets/js/libs/jquery.selectric.js"></script>
    <script src="assets/js/libs.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/dev.js"></script>
</body>
</html>
