    <div class="popup-cover-wrap">
        <section class="widget widget-container widget-discount widget-rent-car widget-sm">
            <div class="widget-content widget_indent_v_15 clearfix_">
                <div class="rent-car-form-title-and-name">
                    <div class="rent-car-form__title">
                        Заказ авто
                    </div>
                    <div class="rent-car-form__name">
                        Cadillac Escalade
                    </div>
                </div>
                <form action="" method="post" class="widget-discount-form widget_indent_h_15">
                    <label class="form-label discount-form-label">
                                    <span class="discount-form-label__title">
                                        Номер телефона
                                    </span>
                        <input type="text" placeholder="+375 " value="+375 " class="discount-form__input discount-form__input_border_b reset_useragent_input_style">
                    </label>
                    <label class="form-label btn-wrapper discount-form-btn-wrapper">
                        <input type="submit" class="btn submit-btn btn_orange_theme_invert reset_useragent_input_style transition_05s">
                    </label>
                </form>
                <div class="rent-car-form-close-btn-wrap">
                    <img src="assets/images/pop-up-close.png" class="rent-car-form-close__btn" alt="">
                </div>
            </div>
        </section>
    </div>

</div>
<footer class="footer purple_theme">
    <div class="footer-top max_basic_width clearfix_">
        <div class="footer-links footer-cars-links float_l">
            <a href="#" class="footer-links-list__title clearfix_">Авто<i class="fa fa-chevron-down float_r" aria-hidden="true"></i></a>
            <ul class="footer-links-list footer-links-with-wubmenu transition_05s">
                <li class="footer-links-list-el">
                    <a href="#" class="footer-links-list-el__link">Лимузины</a>
                </li>
                <li class="footer-links-list-el">
                    <a href="#" class="footer-links-list-el__link">Легковые</a>
                </li>
                <li class="footer-links-list-el">
                    <a href="#" class="footer-links-list-el__link">Микроавтобусы</a>
                </li>
                <li class="footer-links-list-el">
                    <a href="#" class="footer-links-list-el__link">Автобусы</a>
                </li>
                <li class="footer-links-list-el">
                    <a href="#" class="footer-links-list-el__link">Джипы</a>
                </li>
                <li class="footer-links-list-el">
                    <a href="#" class="footer-links-list-el__link">Ретро, кабрио</a>
                </li>
            </ul>
        </div>
        <div class="footer-links footer-more-links float_l">
            <ul class="footer-links-list">
                <li class="footer-links-list-el">
                    <a href="#" class="footer-links-list-el__link"><i class="fa fa-balance-scale" aria-hidden="true"></i>Услуги</a>
                </li>
                <li class="footer-links-list-el">
                    <a href="#" class="footer-links-list-el__link"><i class="fa fa-balance-scale" aria-hidden="true"></i>Акции</a>
                </li>
                <li class="footer-links-list-el">
                    <a href="#" class="footer-links-list-el__link"><i class="fa fa-balance-scale" aria-hidden="true"></i>Маршруты</a>
                </li>
                <li class="footer-links-list-el">
                    <a href="#" class="footer-links-list-el__link"><i class="fa fa-balance-scale" aria-hidden="true"></i>Новости</a>
                </li>
                <li class="footer-links-list-el">
                    <a href="#" class="footer-links-list-el__link"><i class="fa fa-balance-scale" aria-hidden="true"></i>Отзывы</a>
                </li>
                <li class="footer-links-list-el">
                    <a href="#" class="footer-links-list-el__link"><i class="fa fa-balance-scale" aria-hidden="true"></i>Украшения</a>
                </li>
                <li class="footer-links-list-el">
                    <a href="#" class="footer-links-list-el__link"><i class="fa fa-balance-scale" aria-hidden="true"></i>Экскурсии</a>
                </li>
                <li class="footer-links-list-el">
                    <a href="#" class="footer-links-list-el__link"><i class="fa fa-balance-scale" aria-hidden="true"></i>Полезное</a>
                </li>
            </ul>
        </div>
        <div class="footer-links footer-main-links float_l">
            <ul class="footer-links-list">
                <li class="footer-links-list-el">
                    <a href="#" class="footer-links-list-el__link"><i class="fa fa-balance-scale" aria-hidden="true"></i>Цены</a>
                </li>
                <li class="footer-links-list-el">
                    <a href="#" class="footer-links-list-el__link"><i class="fa fa-balance-scale" aria-hidden="true"></i>Контакты</a>
                </li>
            </ul>
        </div>
        <div class="footer-address float_r">
            <ul class="footer-links-list">
                <li class="footer-links-list-el">
                    ООО Лимбери
                </li>
                <li class="footer-links-list-el">
                    Республика Беларусь
                </li>
                <li class="footer-links-list-el">
                    г. Минск
                </li>
                <li class="footer-links-list-el">
                    Сморговский тракт, 57
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom footer-social-links basic_width">
        <a href="#" class="footer-social__link">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="#" class="footer-social__link">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="#" class="footer-social__link">
            <i class="fa fa-pinterest-p" aria-hidden="true"></i>
        </a>
        <a href="#" class="footer-social__link">
            <i class="fa fa-vk" aria-hidden="true"></i>
        </a>
        <a href="#" class="footer-social__link">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="#" class="footer-social__link">
            <i class="fa fa-youtube" aria-hidden="true"></i>
        </a>
    </div>
</footer>
</div>
<script src="assets/js/libs.js"></script>
<script src="assets/js/action-auto-widget.js"></script>
<script src="assets/js/rating-widget.js"></script>
<script src="assets/js/tabs-widget.js"></script>
<script src="assets/js/tabs-widget-ajax.js"></script>
<script src="assets/js/price-tabs-widget.js"></script>
<script src="assets/js/images-replacer.js"></script>
<script src="assets/js/main.js"></script>
<script src="assets/js/mobile-nav.js"></script>

</body>
</html>
