<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Limberi</title>
    <!--<base href="http://new.limberi.by/build/">-->
    <!--<meta name="viewport" content="width=1024">-->
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/modifiers.css">
    <link rel="stylesheet" href="assets/css/media.css">

    <!--[if IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <script>
        window.lazySizesConfig = window.lazySizesConfig || {};
        window.lazySizesConfig.init = false;
    </script>
</head>
<body>
<div class="wrapper grey_theme">
    <div class="wrapper-inner grey_theme">
        <div class="to-top-block transition_05s">
            <div class="to-top-btn inline">
                <span class="to-top-text">Наверх</span><i class="fa fa-chevron-up to-top-arrow to-top-arrow_indent" aria-hidden="true"></i>
            </div>
        </div>
        <header class="header purple_theme">
            <div class="header-wrap basic_width clearfix_">
                <div class="header-logo-wrap">
                    <img src="assets/images/logo.svg" class="header__logo" alt="" title="">
                </div>
                <nav class="header-nav header-nav_indent_l header-nav-list_indent_r">
                    <ul class="header-nav-list clearfix_">
                        <li class="header-nav-list-el"><a href="#" class="header-nav-list-el__link">Главная</a></li>
                        <li class="header-nav-list-el with-submenu">
                            <a href="cars.html" class="header-nav-list-el__link">Авто<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                            <ul class="header-nav-submenu">
                                <li class="header-nav-submenu-el"><a href="#" class="header-nav-submenu-el__link">Лимузины</a></li>
                                <li class="header-nav-submenu-el"><a href="#" class="header-nav-submenu-el__link">Легковые</a></li>
                                <li class="header-nav-submenu-el"><a href="#" class="header-nav-submenu-el__link">Микроавтобусы</a></li>
                                <li class="header-nav-submenu-el"><a href="#" class="header-nav-submenu-el__link">Автобусы</a></li>
                                <li class="header-nav-submenu-el"><a href="#" class="header-nav-submenu-el__link">Джипы</a></li>
                                <li class="header-nav-submenu-el"><a href="#" class="header-nav-submenu-el__link">Ретро, кабрио</a></li>
                            </ul>
                        </li>
                        <li class="header-nav-list-el header-nav-list_indent_without_submenu"><a href="#" class="header-nav-list-el__link">Цены</a></li>
                        <li class="header-nav-list-el"><a href="#" class="header-nav-list-el__link">Контакты</a></li>
                        <li class="header-nav-list-el with-submenu more-mobile">
                            <a href="#" class="header-nav-list-el__link header-nav-list-el__desktop-btn">Еще<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                            <span class="header-nav-list-el__mobile-btn" id="header-nav-list-el__mobile-btn"><i class="fa fa-bars" aria-hidden="true"></i></span>
                            <div class="header-nav-submenu more" id="more-block">
                                <div class="mobile-nav-close-btn" id="mobile-nav-close-btn">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </div>
                                <div class="more-mobile-main-step more-phone">

                                    <a href="tel: +375291387777"><i class="fa fa-phone" aria-hidden="true"></i>+ 375 29 138 77 77</a>

                                    <!--<i class="fa fa-chevron-left" aria-hidden="true"></i> Родитель-->
                                </div>
                                <ul class="header-nav-submenu-list with-second-level transition_05s">
                                    <li class="header-nav-submenu-el"><a href="#" class="header-nav-submenu-el__link"><i class="fa fa-balance-scale" aria-hidden="true"></i>Услуги</a></li>
                                    <li class="header-nav-submenu-el with-submenu">
                                        <a href="#" class="header-nav-submenu-el__link clearfix_"><i class="fa fa-arrows-alt" aria-hidden="true"></i>Украшения <i class="fa fa-angle-right submenu-arrow" aria-hidden="true"></i></a>
                                        <ul class="header-nav-submenu more-submenu transition_1s">
                                            <li class="header-nav-submenu-el"><a href="#" class="header-nav-submenu-el__link">Услуги1</a></li>
                                            <li class="header-nav-submenu-el"><a href="#" class="header-nav-submenu-el__link">Акции1</a></li>
                                            <li class="header-nav-submenu-el"><a href="#" class="header-nav-submenu-el__link">Отзывы1</a></li>
                                            <li class="header-nav-submenu-el"><a href="#" class="header-nav-submenu-el__link">Маршруты1</a></li>
                                            <li class="header-nav-submenu-el"><a href="#" class="header-nav-submenu-el__link">Новости1</a></li>
                                            <li class="header-nav-submenu-el"><a href="#" class="header-nav-submenu-el__link">Достопримечательности</a></li>
                                            <li class="header-nav-submenu-el"><a href="#" class="header-nav-submenu-el__link">Экскурсии1</a></li>
                                            <li class="header-nav-submenu-el"><a href="#" class="header-nav-submenu-el__link">Полезное1</a></li>
                                        </ul>
                                    </li>
                                    <li class="header-nav-submenu-el"><a href="#" class="header-nav-submenu-el__link"><i class="fa fa-arrows-alt" aria-hidden="true"></i>Отзывы</a></li>
                                    <li class="header-nav-submenu-el"><a href="#" class="header-nav-submenu-el__link"><i class="fa fa-university" aria-hidden="true"></i>Маршруты</a></li>
                                    <li class="header-nav-submenu-el"><a href="#" class="header-nav-submenu-el__link"><i class="fa fa-arrows-alt" aria-hidden="true"></i>Новости</a></li>
                                    <li class="header-nav-submenu-el with-submenu">
                                        <a href="#" class="header-nav-submenu-el__link clearfix_"><i class="fa fa-arrows-alt" aria-hidden="true"></i>Украшения <i class="fa fa-angle-right submenu-arrow" aria-hidden="true"></i></a>
                                        <ul class="header-nav-submenu more-submenu transition_1s">
                                            <li class="header-nav-submenu-el"><a href="#" class="header-nav-submenu-el__link">Услуги1</a></li>
                                            <li class="header-nav-submenu-el"><a href="#" class="header-nav-submenu-el__link">Акции1</a></li>
                                            <li class="header-nav-submenu-el"><a href="#" class="header-nav-submenu-el__link">Отзывы1</a></li>
                                            <!--<li class="header-nav-submenu-el"><a href="#" class="header-nav-submenu-el__link">Маршруты1</a></li>-->
                                            <!--<li class="header-nav-submenu-el"><a href="#" class="header-nav-submenu-el__link">Новости1</a></li>-->
                                            <!--<li class="header-nav-submenu-el"><a href="#" class="header-nav-submenu-el__link">Достопримечательности</a></li>-->
                                            <!--<li class="header-nav-submenu-el"><a href="#" class="header-nav-submenu-el__link">Экскурсии1</a></li>-->
                                            <!--<li class="header-nav-submenu-el"><a href="#" class="header-nav-submenu-el__link">Полезное1</a></li>-->
                                        </ul>
                                    </li>
                                    <li class="header-nav-submenu-el"><a href="#" class="header-nav-submenu-el__link"><i class="fa fa-arrows-alt" aria-hidden="true"></i>Экскурсии</a></li>
                                    <li class="header-nav-submenu-el"><a href="#" class="header-nav-submenu-el__link"><i class="fa fa-arrows-alt" aria-hidden="true"></i>Полезное</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="header-contacts with-submenu">
                    <a href="tel: +375291387777">+375 29 138 77 77</a><i class="fa fa-chevron-down" aria-hidden="true"></i>
                    <ul class="header-nav-submenu">
                        <li class="header-nav-submenu-el"><a href="#" class="header-nav-submenu-el__link">+375 29 638 77 77<span class="header-contacts__operator">velcom</span></a></li>
                        <li class="header-nav-submenu-el"><a href="#" class="header-nav-submenu-el__link">+375 33 638 77 77<span class="header-contacts__operator">life :)</span></a></li>
                        <li class="header-nav-submenu-el"><a href="#" class="header-nav-submenu-el__link">+375 25 638 77 77<span class="header-contacts__operator">mts</span></a></li>
                        <li class="header-nav-submenu-el"><a href="#" class="header-nav-submenu-el__link">+375 17 2 8888 55<span class="header-contacts__operator">городской</span></a></li>
                    </ul>
                </div>
            </div>
        </header>