<aside class="aside">
    <div class="aside-item logo__wrap">
        <a href="">
            <img src="assets/images/logo.png" alt="">
        </a>
    </div>
    <div class="aside-item aside-nav-wrap">
        <ul class="aside-nav">
            <li class="aside-nav__item flex_row">
                <a href="" class="aside-nav-link">
                    <span class="aside-nav__icon">
                        <img src="assets/images/aside-nav-item-1.png" alt="" class="aside-nav__icon-img">
                        <img src="assets/images/aside-nav-item-1-hover.png" alt="" class="aside-nav__icon-img-hover">
                    </span>
                    <span class="aside-nav__text">
                        МЕТАЛЛОРЕЖУЩЕЕ ОБОРУДОВАНИЕ
                    </span>
                </a>
            </li>
            <li class="aside-nav__item flex_row">
                <a href="" class="aside-nav-link">
                    <span class="aside-nav__icon">
                        <img src="assets/images/aside-nav-item-2.png" alt="" class="aside-nav__icon-img">
                        <img src="assets/images/aside-nav-item-2-hover.png" alt="" class="aside-nav__icon-img-hover">
                    </span>
                    <span class="aside-nav__text">
                        ЛИСТООБРАБАТЫВАЮЩЕЕ ОБОРУДОВАНИЕ
                    </span>
                </a>
            </li>
            <li class="aside-nav__item flex_row">
                <a href="" class="aside-nav-link">
                    <span class="aside-nav__icon">
                        <img src="assets/images/aside-nav-item-3.png" alt="" class="aside-nav__icon-img">
                        <img src="assets/images/aside-nav-item-3-hover.png" alt="" class="aside-nav__icon-img-hover">
                    </span>
                    <span class="aside-nav__text">
                        ПРЕССОВОЕ И ФОРМОВОЧНОЕ ОБОРУДОВАНИЕ
                    </span>
                </a>
            </li>
            <li class="aside-nav__item flex_row">
                <a href="" class="aside-nav-link">
                    <span class="aside-nav__icon">
                        <img src="assets/images/aside-nav-item-4.png" alt="" class="aside-nav__icon-img">
                        <img src="assets/images/aside-nav-item-4-hover.png" alt="" class="aside-nav__icon-img-hover">
                    </span>
                    <span class="aside-nav__text">
                        ОБОРУДОВАНИЕ ДЛЯ ОБРАБОТКИ ОПТИЧЕСКОГО СТЕКЛА
                    </span>
                </a>
            </li>
            <li class="aside-nav__item flex_row">
                <a href="" class="aside-nav-link">
                    <span class="aside-nav__icon">
                        <img src="assets/images/aside-nav-item-5.png" alt="" class="aside-nav__icon-img">
                        <img src="assets/images/aside-nav-item-5-hover.png" alt="" class="aside-nav__icon-img-hover">
                    </span>
                    <span class="aside-nav__text">
                        КОНТРОЛЬНО-ИЗМЕРИТЕЛЬНОЕ ОБОРУДОВАНИЕ
                    </span>
                </a>
            </li>
            <li class="aside-nav__item flex_row">
                <a href="" class="aside-nav-link">
                    <span class="aside-nav__icon">
                        <img src="assets/images/aside-nav-item-6.png" alt="" class="aside-nav__icon-img">
                        <img src="assets/images/aside-nav-item-6-hover.png" alt="" class="aside-nav__icon-img-hover">
                    </span>
                    <span class="aside-nav__text">
                        ИНСТРУМЕНТ И ОСНАСТКА
                    </span>
                </a>
            </li>
            <li class="aside-nav__item flex_row">
                <a href="" class="aside-nav-link">
                    <span class="aside-nav__icon">
                        <img src="assets/images/aside-nav-item-7.png" alt="" class="aside-nav__icon-img">
                        <img src="assets/images/aside-nav-item-7-hover.png" alt="" class="aside-nav__icon-img-hover">
                    </span>
                    <span class="aside-nav__text">
                        ЗАПАСНЫЕ ЧАСТИ И РАСХОДНЫЕ МАТЕРИАЛЫ
                    </span>
                </a>
            </li>
            <li class="aside-nav__item flex_row">
                <a href="" class="aside-nav-link">
                    <span class="aside-nav__icon">
                        <img src="assets/images/aside-nav-item-8.png" alt="" class="aside-nav__icon-img">
                        <img src="assets/images/aside-nav-item-8-hover.png" alt="" class="aside-nav__icon-img-hover">
                    </span>
                    <span class="aside-nav__text">
                        Сервисные услуги
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <div class="aside-item aside-contacts">
        <button type="button" class="aside-contacts__item btn btn_yellow-theme">оформить заявку</button>
        <span class="aside-contacts__item aside-contacts-text-divider">или звоните по телефону</span>
        <a href="" class="aside-contacts__item aside-contacts-phone"><span class="uppercase">Минск</span>  +375 17 399 10 02</a>
        <a href="" class="aside-contacts__item aside-contacts-callback">Обратная связь</a>
    </div>
</aside>