<div class="content-pagination content-pagination_margin_t clearfix_">
    <ul class="content-pagination-list float_r font_cond_regular">
        <li class="content-pagination-list-el news-pagination-list-el_selected">
            <a href="#" class="content-pagination-list-el__link">1</a>
        </li>
        <li class="content-pagination-list-el ">
            <a href="#" class="content-pagination-list-el__link">2</a>
        </li>
        <li class="content-pagination-list-el ">
            <a href="#" class="content-pagination-list-el__link">3</a>
        </li>
        <li class="content-pagination-list-el ">
            <a href="#" class="content-pagination-list-el__link">4</a>
        </li>
        <li class="content-pagination-list-el ">
            <a href="#" class="content-pagination-list-el__link">5</a>
        </li>
        <li class="content-pagination-list-el ">
            <a href="#" class="content-pagination-list-el__link">...</a>
        </li>
        <li class="content-pagination-list-el">
            <a href="#" class="content-pagination-list-el__link">17</a>
        </li>
    </ul>
</div>