<footer class="footer">
    <div class="container clearfix_">
        <div class="footer-inner clearfix_">
            <div class="footer__logo">
                <a href=""><img src="assets/images/logo.png" alt=""></a>
            </div>
            <div class="footer__info">
                <div class="navigation">
                    <ul class="navigation__list flex_row flex_start">
                        <li class="navigation__list-item">
                            <a href="" class="navigation__list-link">О компании</a>
                        </li>
                        <li class="navigation__list-item">
                            <a href="" class="navigation__list-link">Реализованные проекты</a>
                        </li>
                        <li class="navigation__list-item">
                            <a href="" class="navigation__list-link">Каталоги</a>
                        </li>
                        <li class="navigation__list-item">
                            <a href="" class="navigation__list-link">Вакансии</a>
                        </li>
                        <li class="navigation__list-item">
                            <a href="" class="navigation__list-link">Новости</a>
                        </li>
                        <li class="navigation__list-item">
                            <a href="" class="navigation__list-link">Контакты</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__contacts">
                    <span class="footer__phone">
                        Минск  +375 17 399 10 02
                    </span>
                    <span class="footer__address">
                        БЦ «СОЛО»<br>ул. Сурганова, 43<br>офис 904
                    </span>
                </div>
                <div class="footer__email">
                    <a href="mailto:info@euro-stan.com">info@euro-stan.com</a>
                </div>
                <div class="copyright">
                    © ООО «Евростанком» 2016, Все права защищены
                </div>
            </div>
        </div>
    </div>
</footer>

