<header class="header">
    <div class="header-top">
        <div class="container">
            <div class="header-top__phone">
                <span class="uppercase">Минск</span>  +375 17 399 10 02
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container flex_row flex_start">
            <nav class="navigation">
                <ul class="navigation__list flex_row flex_start">
                    <li class="navigation__list-item navigation__list-item_active">
                        <a href="" class="navigation__list-link">О компании</a>
                    </li>
                    <li class="navigation__list-item">
                        <a href="" class="navigation__list-link">Реализованные проекты</a>
                    </li>
                    <li class="navigation__list-item">
                        <a href="" class="navigation__list-link">Каталоги</a>
                    </li>
                    <li class="navigation__list-item">
                        <a href="" class="navigation__list-link">Вакансии</a>
                    </li>
                    <li class="navigation__list-item">
                        <a href="" class="navigation__list-link">Отзывы</a>
                    </li>
                    <li class="navigation__list-item">
                        <a href="" class="navigation__list-link">Новости</a>
                    </li>
                    <li class="navigation__list-item">
                        <a href="" class="navigation__list-link">Контакты</a>
                    </li>
                </ul>
            </nav>
            <div class="header__email">
                <a href="mailto:info@euro-stan.com">info@euro-stan.com</a>
            </div>
            <div class="header__lang">
                <a href="" class="header__lang-link">en</a>
            </div>
        </div>
    </div>
</header>